# ccc_graph需要以下python库
yaml
networkx
pygraphviz(需要安装graphviz)


# WINDOWS
# 如果安装pygraphviz失败，安装VCForPython
# 如果还是失败，尝试 pip install --global-option=build_ext --global-option="-I<path_to_graphviz>\include" --global-option="-L<path_to_graphviz>\lib\release\lib" pygraphviz